In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("./week36.csv")

In [3]:
df

,FIPS,Name,Type,TimeFrame,Median Age,Population Density per Sq Mi
0,1,Alabama,State,2006-2010,25.5,94.4
1,2,Alaska,State,2006-2010,24.8,1.2
2,4,Arizona,State,2006-2010,25.6,56.3
3,5,Arkansas,State,2006-2010,24.5,56.0
4,6,California,State,2006-2010,26.9,239.1
...,...,...,...,...,...,...
99,53,Washington,State,2015-2019,27.3,116.0
100,54,West Virginia,State,2015-2019,26.7,74.6
101,55,Wisconsin,State,2015-2019,27.8,109.0
102,56,Wyoming,State,2015-2019,25.7,5.9
103,US,United States,Country,2015-2019,28.0,94.8

In [6]:
df.groupby("Name").agg("median")

                      Median Age  Population Density per Sq Mi
Name
Alabama                    26.10                         96.80
Alaska                     25.60                          1.25
Arizona                    26.70                         59.65
Arkansas                   25.10                         56.95
California                 27.95                        246.55
Colorado                   26.70                         51.40
Connecticut                28.55                        741.55
Delaware                   27.70                        484.40
District of Columbia       30.10                      10575.75
Florida                    27.75                        376.30
Georgia                    26.80                        177.20
Hawaii                     27.70                        219.40
Idaho                      24.35                         20.65
Illinois                   28.00                        231.05
Indiana                    26.45                        185.00
Iowa                       26.05                         55.80
Kansas                     25.60                         35.40
Kentucky                   25.70                        111.95
Louisiana                  27.05                        106.45
Maine                      27.15                         43.65
Maryland                   28.25                        615.40
Massachusetts              29.20                        870.20
Michigan                   27.35                        176.40
Minnesota                  27.05                         69.15
Mississippi                26.40                         63.15
Missouri                   26.35                         88.30
Montana                    25.90                          7.15
Nebraska                   25.95                         24.65
Nevada                     26.75                         26.45
New Hampshire              27.75                        150.50
New Jersey                 28.55                       1229.25
New Mexico                 26.80                         17.25
New York                   29.00                        420.10
North Carolina             26.75                        205.55
North Dakota               25.85                         10.50
Ohio                       27.10                        285.65
Oklahoma                   25.20                         56.20
Oregon                     27.00                         42.00
Pennsylvania               27.95                        287.45
Rhode Island               28.80                       1039.55
South Carolina             27.20                        161.95
South Dakota               25.95                         11.20
Tennessee                  26.15                        160.95
Texas                      26.15                        104.15
United States              27.15                         91.10
Utah                       23.80                         36.70
Vermont                    27.70                         68.85
Virginia                   27.15                        210.80
Washington                 26.55                        108.60
West Virginia              26.05                         75.85
Wisconsin                  27.10                        107.00
Wyoming                    24.95                          5.85

In [10]:
newDf = df.sort_values(by=["Name","TimeFrame"]).set_index(["Name","TimeFrame"])

In [11]:
newDf.head(5)

                  FIPS   Type  Median Age  Population Density per Sq Mi
Name    TimeFrame
Alabama 2006-2010    1  State        25.5                          94.4
        2015-2019    1  State        26.7                          99.2
Alaska  2006-2010    2  State        24.8                           1.2
        2015-2019    2  State        26.4                           1.3
Arizona 2006-2010    4  State        25.6                          56.3

In [22]:
nationalData = newDf.loc[newDf["Type"] == 'Country'].drop("Type",axis=1)
nationalData.to_csv("us.csv")

In [23]:
stateData = newDf.loc[~(newDf["Type"] == 'Country')].drop("Type",axis=1)
stateData.to_csv("us-states.csv")